.input-section input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 5px;
    font-size: 21px;
}

#header-section {
    margin: 8px;
    background-color: rgb(49, 49, 163);
    color: white;
    height: 50px;  
}

#wrapper {
    width: 98%;
    height: 650px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 40px;
}

.button-section button {
    height: 50px;
    font-size: 18px;
    width: 100%;
}

#city-button {
    margin-bottom: 10px;
}

